<%- include ("header") %>

<div class="header">
    <h1>CORE PRODUCTION REPORT</h1>
    <h3>Enter the core production details</h3>
</div>
<div class="core-production-report">
    <form action="/cpr" method="post">
        <table>
                <tr>
                    <td>Length <em class="in-feet-subtext">(in feet)</em></td>
                    <td>Breadth <em class="in-feet-subtext">(in feet)</em></td>
                    <td>Number of Bundles</td>
                    <td>Extra Pieces</td>
                </tr>
            <% for (i = 0; i < noOfRows_CoreProduction; i++){ %>
                <tr>
                    <td><input type="text" name="lengthX" id="" required></td>
                    <td><input type="text" name="breadthX" id="" placeholder="2"></td>
                    <td><input type="text" name="noOfBundlesX" id="" required></td>
                    <td><input type="text" name="extraPiecesX" id="" placeholder="0"></td>
                </tr>
            <% } %>
        </table>
        <button type="submit" class="btn btn-lg btn-danger">Submit</button>
    </form>
</div>
<%- include("footer") %>