<%- include("header") %>
<form action="/" method="post">
    <button type="submit">Core</button>
</form>
<form action="/db" method="post">
    <button type="submit">DB</button>
</form>
<%- include("footer") %>